flows.json
[{"id":"f7572e9d163d6549","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"18bebed6deaadd8c","type":"mqtt in","z":"f7572e9d163d6549","name":"Distancia","topic":"arkaisho_iot_project_proximity","qos":"0","datatype":"utf8","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":400,"wires":[["2e1904aa681bcb05","941b8f38cc6f48b8"]]},{"id":"7e80b308663dbac7","type":"debug","z":"f7572e9d163d6549","name":"Sensor de proximidade","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"c57a8767491622bb","type":"mqtt in","z":"f7572e9d163d6549","name":"Chuva","topic":"arkaisho_iot_project_rain","qos":"0","datatype":"utf8","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":560,"wires":[["11a024da8a2015bc"]]},{"id":"d224979b3e4775a2","type":"debug","z":"f7572e9d163d6549","name":"Sensor de chuva","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":560,"wires":[]},{"id":"cb786151b32dbade","type":"rbe","z":"f7572e9d163d6549","name":"","func":"rbe","gap":"10","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":400,"wires":[["7e80b308663dbac7","0bf054764051d833","7251fc46fce6ca84"]]},{"id":"3fb86bf2f2774d94","type":"rbe","z":"f7572e9d163d6549","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":560,"wires":[["cd8606e44c5920a9","d224979b3e4775a2","1e32a6f461ac5ad1"]]},{"id":"2e1904aa681bcb05","type":"function","z":"f7572e9d163d6549","name":"Proximity Sensor outlier removal","func":"var dataList = context.get(\"proximity_data_list\");\n\nvar dataLenght = 3;\n\nif(dataList.length >dataLenght){\n    dataList.shift();\n}\ndataList.push(parseInt(msg.payload));\n\nvar sum = 0;\nfor( var i = 0; i < dataList.length; i++ ){\n    sum += parseInt( dataList[i],10); //don't forget to add the base\n}\n\nvar avg = sum/dataList.length;\n\nmsg.payload = parseInt(avg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"context.set(\"proximity_data_list\",[]);","finalize":"context.set(\"proximity_data_list\",[]);","libs":[],"x":390,"y":400,"wires":[["cb786151b32dbade"]]},{"id":"11a024da8a2015bc","type":"function","z":"f7572e9d163d6549","name":"Rain Sensor outlier removal","func":"var dataList = context.get(\"rain_data_list\");\n\nvar dataLenght = 8;\n\nif(dataList.length >dataLenght){\n    dataList.shift();\n}\ndataList.push(parseInt(msg.payload));\n\nvar sum = 0;\nfor( var i = 0; i < dataList.length; i++ ){\n    sum += parseInt( dataList[i],10); //don't forget to add the base\n}\n\nvar avg = sum/dataList.length;\n\nmsg.payload = +(parseInt(avg)>50);\nreturn msg;","outputs":1,"noerr":0,"initialize":"context.set(\"rain_data_list\",[]);","finalize":"context.set(\"rain_data_list\",[]);","libs":[],"x":400,"y":560,"wires":[["3fb86bf2f2774d94"]]},{"id":"cd8606e44c5920a9","type":"mqtt out","z":"f7572e9d163d6549","name":"Sensor de chuva processado","topic":"arkaisho_iot_project_rain_processed","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":840,"y":500,"wires":[]},{"id":"0bf054764051d833","type":"mqtt out","z":"f7572e9d163d6549","name":"Sensor de proximidade processado","topic":"arkaisho_iot_project_proximity_processed","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":860,"y":340,"wires":[]},{"id":"52af889daabb7386","type":"mqtt in","z":"f7572e9d163d6549","name":"Temperatura","topic":"arkaisho_iot_project_temperature","qos":"0","datatype":"utf8","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":240,"wires":[["46e383e860b38ccb"]]},{"id":"e166b6c0cfdf2593","type":"debug","z":"f7572e9d163d6549","name":"Sensor de temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":240,"wires":[]},{"id":"da157248d8a0bbb7","type":"rbe","z":"f7572e9d163d6549","name":"","func":"rbe","gap":"10","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":240,"wires":[["e166b6c0cfdf2593","4975e75d26317ee7","9442eadcbf8d392d"]]},{"id":"46e383e860b38ccb","type":"function","z":"f7572e9d163d6549","name":"Temperature Sensor outlier removal","func":"var dataList = context.get(\"temperature_data_list\");\n\nvar dataLenght = 3;\n\nif(dataList.length >dataLenght){\n    dataList.shift();\n}\ndataList.push(parseInt(msg.payload));\n\nvar sum = 0;\nfor( var i = 0; i < dataList.length; i++ ){\n    sum += parseInt( dataList[i],10); //don't forget to add the base\n}\n\nvar avg = sum/dataList.length;\n\nmsg.payload = parseInt(avg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"context.set(\"temperature_data_list\",[]);","finalize":"context.set(\"temperature_data_list\",[]);","libs":[],"x":380,"y":240,"wires":[["da157248d8a0bbb7"]]},{"id":"4975e75d26317ee7","type":"mqtt out","z":"f7572e9d163d6549","name":"Sensor de temperatura processado","topic":"arkaisho_iot_project_temperature_processed","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":860,"y":180,"wires":[]},{"id":"c574f6a82c0ed237","type":"mqtt in","z":"f7572e9d163d6549","name":"Umidade","topic":"arkaisho_iot_project_umidity","qos":"0","datatype":"utf8","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":80,"wires":[["3851527452b56628"]]},{"id":"acd8224a33a0188d","type":"debug","z":"f7572e9d163d6549","name":"Sensor de umidade","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"5cef45c24b59ee76","type":"rbe","z":"f7572e9d163d6549","name":"","func":"rbe","gap":"10","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":80,"wires":[["acd8224a33a0188d","a432b6d415c9af10","aa301586f2c7d3ec"]]},{"id":"3851527452b56628","type":"function","z":"f7572e9d163d6549","name":"Umidity Sensor outlier removal","func":"var dataList = context.get(\"umidity_data_list\");\n\nvar dataLenght = 3;\n\nif(dataList.length >dataLenght){\n    dataList.shift();\n}\ndataList.push(parseInt(msg.payload));\n\nvar sum = 0;\nfor( var i = 0; i < dataList.length; i++ ){\n    sum += parseInt( dataList[i],10); //don't forget to add the base\n}\n\nvar avg = sum/dataList.length;\n\nmsg.payload = parseInt(avg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"context.set(\"umidity_data_list\",[]);","finalize":"context.set(\"umidity_data_list\",[]);","libs":[],"x":390,"y":80,"wires":[["5cef45c24b59ee76"]]},{"id":"a432b6d415c9af10","type":"mqtt out","z":"f7572e9d163d6549","name":"Sensor de umidade processado","topic":"arkaisho_iot_project_umidity_processed","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":850,"y":20,"wires":[]},{"id":"f362a829de2ccd80","type":"mqtt in","z":"f7572e9d163d6549","name":"Chuva processada","topic":"arkaisho_iot_project_rain_processed","qos":"0","datatype":"auto","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":660,"wires":[["0bd421a99b1501cc"]]},{"id":"0defc79505b199a6","type":"mqtt in","z":"f7572e9d163d6549","name":"Proximidade processada","topic":"arkaisho_iot_project_proximity_processed","qos":"0","datatype":"auto","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":720,"wires":[["0bd421a99b1501cc"]]},{"id":"0bd421a99b1501cc","type":"function","z":"f7572e9d163d6549","name":"","func":"var lastProcessedRainValue = context.get(\"lp_rain\");\nvar lastProcessedDistanceValue = context.get(\"lp_distance\");\n\nvar windowOpenDistance = 5;\n\nif(msg.topic===\"arkaisho_iot_project_rain_processed\"){\n    context.set(\"lp_rain\",parseInt(msg.payload));\n    if(parseInt(msg.payload)===1&&lastProcessedDistanceValue>windowOpenDistance){\n        msg.payload=1;\n    }else{\n        msg.payload=0;\n    }\n}\nelse{ \n    context.set(\"lp_distance\",parseInt(msg.payload));\n    if(parseInt(msg.payload)>windowOpenDistance&&lastProcessedRainValue===1){\n        msg.payload=1;\n    }else{\n        msg.payload=0;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"context.set(\"lp_rain\",0);\ncontext.set(\"lp_distance\",0);","finalize":"","libs":[],"x":460,"y":680,"wires":[["91b3184c44252d7d"]]},{"id":"c3115489c84ab814","type":"mqtt out","z":"f7572e9d163d6549","name":"Chuva dentro de casa processada","topic":"arkaisho_iot_project_rainning_inside","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":860,"y":680,"wires":[]},{"id":"80f2a48c458c3262","type":"debug","z":"f7572e9d163d6549","name":"Chovendo dentro de casa","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":740,"wires":[]},{"id":"91b3184c44252d7d","type":"rbe","z":"f7572e9d163d6549","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":680,"wires":[["c3115489c84ab814","80f2a48c458c3262"]]},{"id":"cbf93df1ee0f96ea","type":"mqtt in","z":"f7572e9d163d6549","name":"Falha temperatura","topic":"arkaisho_iot_project_temperature_failure","qos":"0","datatype":"auto","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":860,"wires":[["a988d17aa81b1288","240f0c6bde5bedf4"]]},{"id":"7fc3bf0b7170929f","type":"mqtt in","z":"f7572e9d163d6549","name":"Falha umidade","topic":"arkaisho_iot_project_umidity_failure","qos":"0","datatype":"auto","broker":"56be5c70517bb06e","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":920,"wires":[["55e80e9412f8377f","d8dc84e3b27f6531"]]},{"id":"a988d17aa81b1288","type":"debug","z":"f7572e9d163d6549","name":"Falha no sensor de temperatura","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":860,"wires":[]},{"id":"55e80e9412f8377f","type":"debug","z":"f7572e9d163d6549","name":"Falha no sensor de umidade","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":920,"wires":[]},{"id":"d96380f462b2cd7e","type":"http request","z":"f7572e9d163d6549","name":"distance sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/distance/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":440,"wires":[[]]},{"id":"7251fc46fce6ca84","type":"function","z":"f7572e9d163d6549","name":"body creator","func":"msg.payload = {\"value\":msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":440,"wires":[["d96380f462b2cd7e"]]},{"id":"df653d24c109fd70","type":"http request","z":"f7572e9d163d6549","name":"temperature sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/temperature/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":970,"y":280,"wires":[[]]},{"id":"9442eadcbf8d392d","type":"function","z":"f7572e9d163d6549","name":"body creator","func":"msg.payload = {\"value\":msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":280,"wires":[["df653d24c109fd70"]]},{"id":"7364f94c82d79a88","type":"http request","z":"f7572e9d163d6549","name":"umidity sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/umidity/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":120,"wires":[[]]},{"id":"aa301586f2c7d3ec","type":"function","z":"f7572e9d163d6549","name":"body creator","func":"msg.payload = {\"value\":msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":120,"wires":[["7364f94c82d79a88"]]},{"id":"4471c9b0aac0ea1d","type":"http request","z":"f7572e9d163d6549","name":"rain sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/rain/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":950,"y":600,"wires":[[]]},{"id":"1e32a6f461ac5ad1","type":"function","z":"f7572e9d163d6549","name":"body creator","func":"msg.payload = {\"value\":msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":600,"wires":[["4471c9b0aac0ea1d"]]},{"id":"21cb15724c4df5fa","type":"http request","z":"f7572e9d163d6549","name":"temperature fail sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/temperature-sensor-fails/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":750,"y":820,"wires":[[]]},{"id":"4041c4bb6e9d224c","type":"http request","z":"f7572e9d163d6549","name":"umidity fail sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/umidity-sensor-fails/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":960,"wires":[[]]},{"id":"240f0c6bde5bedf4","type":"http request","z":"f7572e9d163d6549","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/temperature-sensor-fails/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x&limit=1","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":820,"wires":[["6747d11378215288"]]},{"id":"6747d11378215288","type":"function","z":"f7572e9d163d6549","name":"body creator","func":"lastValue = parseInt(msg.payload[0].value);\n\nmsg.payload = {\"value\":lastValue+1};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":820,"wires":[["21cb15724c4df5fa"]]},{"id":"d8dc84e3b27f6531","type":"http request","z":"f7572e9d163d6549","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/umidity-sensor-fails/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x&limit=1","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":960,"wires":[["e0364a19d316b4c6"]]},{"id":"e0364a19d316b4c6","type":"function","z":"f7572e9d163d6549","name":"body creator","func":"lastValue = parseInt(msg.payload[0].value);\n\nmsg.payload = {\"value\":lastValue+1};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":960,"wires":[["4041c4bb6e9d224c"]]},{"id":"56a9afdb956c3fc7","type":"inject","z":"f7572e9d163d6549","name":"Zerar falhas","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":0}","payloadType":"json","x":130,"y":1080,"wires":[["de2bee024119f640","b86279d374afe3c9"]]},{"id":"de2bee024119f640","type":"http request","z":"f7572e9d163d6549","name":"temperature fail sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/temperature-sensor-fails/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":390,"y":1060,"wires":[[]]},{"id":"b86279d374afe3c9","type":"http request","z":"f7572e9d163d6549","name":"umidity fail sender","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://io.adafruit.com/api/v2/arkaisho/feeds/umidity-sensor-fails/data?x-aio-key=aio_xsbB897JWV8Q1Ln2PX6APuNlrB1x","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":370,"y":1100,"wires":[[]]},{"id":"fac1694727c89b6d","type":"inject","z":"f7572e9d163d6549","name":"Zerar broker","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":0}","payloadType":"json","x":130,"y":1200,"wires":[["3d671c3e9e224136","07182776f683ca6a","0b8be439e1522133","09b827bde3a869d0","de2bee024119f640","b86279d374afe3c9"]]},{"id":"3d671c3e9e224136","type":"mqtt out","z":"f7572e9d163d6549","name":"Temperatura","topic":"arkaisho_iot_project_temperature","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":350,"y":1200,"wires":[]},{"id":"07182776f683ca6a","type":"mqtt out","z":"f7572e9d163d6549","name":"Umidade","topic":"arkaisho_iot_project_umidity","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":340,"y":1240,"wires":[]},{"id":"0b8be439e1522133","type":"mqtt out","z":"f7572e9d163d6549","name":"Distância","topic":"arkaisho_iot_project_distance","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":340,"y":1280,"wires":[]},{"id":"09b827bde3a869d0","type":"mqtt out","z":"f7572e9d163d6549","name":"Chuva","topic":"arkaisho_iot_project_rain","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"56be5c70517bb06e","x":330,"y":1320,"wires":[]},{"id":"941b8f38cc6f48b8","type":"http request","z":"f7572e9d163d6549","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://window-weather-watcher.herokuapp.com/","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":330,"y":460,"wires":[["6cd8ffe7c1270457"]]},{"id":"6cd8ffe7c1270457","type":"debug","z":"f7572e9d163d6549","name":"Wake up node red","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":460,"wires":[]},{"id":"2126b1e87172b274","type":"inject","z":"f7572e9d163d6549","name":"Zerar broker","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"json","x":130,"y":160,"wires":[["46e383e860b38ccb","3851527452b56628"]]},{"id":"56be5c70517bb06e","type":"mqtt-broker","name":"Public mqttx","broker":"broker.emqx.io","port":"1883","tls":"","clientid":"arkaisho_iot_project_node_red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]